@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
     /* Position */
     .rela {@apply relative} .abso {@apply absolute}
     /* Display */
     .blk {@apply block} .il {@apply inline}
     .ilb {@apply inline-block} .ilf {@apply inline-flex} .ilg {@apply inline-grid}

     /* Flex related */
     .fs0 {@apply flex-shrink-0}
     .f {@apply flex} .fr {@apply flex-row} .fc {@apply flex-col}
     .fjcic {@apply flex justify-center items-center} .fjcis {@apply flex justify-center items-start} .fjcie {@apply flex justify-center items-end}
     .fjsic {@apply flex justify-start items-center} .fjsis {@apply flex justify-start items-start} .fjsie {@apply flex justify-start items-end}
     .fjeic {@apply flex justify-end items-center} .fjeis {@apply flex justify-end items-start} .fjeie {@apply flex justify-end items-end}
     .fjbic {@apply flex justify-between items-center} .fjbis {@apply flex justify-between items-start} .fjbie {@apply flex justify-between items-end}


     .js {@apply justify-start} .je {@apply justify-end} .jc {@apply justify-center} .jb {@apply justify-between} .jeven {@apply justify-evenly} .jard {@apply justify-around}  /* Primary axis */
     .fjs {@apply flex justify-start} .fje {@apply flex justify-end} .fjc {@apply flex justify-center} .fjb {@apply flex justify-between} .fjeven {@apply flex justify-evenly} .fjard {@apply flex justify-around}
     .is {@apply items-start} .ie {@apply items-end} .ic {@apply items-center} .istretch {@apply items-stretch}  /* Secondary axis */
     .fis {@apply flex items-start} .fie {@apply flex items-end} .fic {@apply flex items-center} .fistretch {@apply flex items-stretch}

     .tl {@apply text-left} .tr {@apply text-right} .tc {@apply text-center}

     /* Grid related */

     /* Overflow ??????????????? (DOESNT WORK) */
     .ofh {@apply overflow-hidden}
     .ofxh {@apply overflow-x-hidden}
     .ofyh {@apply overflow-y-hidden}
     .ofxs {@apply overflow-x-scroll} .ofys {@apply overflow-y-scroll}
     /* Image Related */
     /* Border Radius */ .rfull {@apply rounded-full} .rsm {@apply rounded-sm} .rmd {@apply rounded-md} .rlg {@apply rounded-lg}
     /* Object fit    */ .objcov {@apply object-cover} .objcont {@apply object-contain} .objfill {@apply object-fill}/*Stretch img*/

     /* Screen */
     .hs {@apply h-screen} .ws {@apply w-screen}

     /* Opacity */
     .opac0 {@apply opacity-0} .opac5 {@apply opacity-5} .opac10 {@apply opacity-10} .opac20 {@apply opacity-20} .opac25 {@apply opacity-25}
     .opac30 {@apply opacity-30} .opac40 {@apply opacity-40} .opac50 {@apply opacity-50} .opac60 {@apply opacity-60} .opac70 {@apply opacity-70}
     .opac75 {@apply opacity-75} .opac80 {@apply opacity-80} .opac90 {@apply opacity-90} .opac95 {@apply opacity-95} .opac100 {@apply opacity-100}

     /* Snap */
     .snapx {@apply snap-x} .snapy {@apply snap-y}
     .snaps {@apply snap-start} .snape {@apply snap-end} .snapc {@apply snap-center}
     .snapman {@apply snap-mandatory}


     .cp {@apply cursor-pointer}
     .pen {@apply pointer-events-none}

}

@layer components {
     .heroBtn {
        @apply px-6 py-2 border border-[#242424] rfull uppercase text-xs 
                tracking-widest text-gray-500 transition-all
                hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
     }
     .pageDiv {@apply hs rela fic fc jeven mx-auto tc}
     .titleStyle {@apply abso top-28 uppercase tracking-[20px] text-gray-500 text-3xl}
     .titleExp {@apply abso uppercase tracking-[20px] text-gray-500 text-2xl}
     .orangeUnderline {@apply underline decoration-[#F7AB0A]/50}
     .hfourStyle {@apply text-4xl font-semibold text-center}
     .contactInput {
          @apply outline-none bg-slate-400/10 rsm px-6 py-4 border-[#242424] border-b
                    text-gray-500 placeholder-gray-500 transition-all
                    focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
     }
     .scrollBar {
          @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-[#F7AB0A]/80
     }
}

/* Mouse Trailer */
@layer components {
     .mouseTrailer {
          background: linear-gradient(to right, aquamarine, mediumpurple);
          height: 30px;
          position: fixed;
          aspect-ratio: 1;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
          border-radius: 50%;
          animation: rotBlob 20s infinite;
          overflow: hidden;
     }
     @keyframes rotBlob {
          from {rotate: 0deg;}
          50% {scale: 1 1.5;}
          to {rotate: 360deg;}
     }
}
/* Main.tsx */
@import url('https://fonts.googleapis.com/css?family=Ephesis');
@layer components {
     .linksize {
          font-family: 'Ephesis', cursive;   /* font-family: 'StudioFeixenSansEdgy', 'sans-serif'; */
          /* border: 1px solid rgba(255, 255, 255, 0.5); */
          @apply text-[21px] md:text-[24px] lg:text-[27px] xl:text-[30px]
                 w-[173px] min-[820px]:w-[200px] min-[910px]:w-[220px] lg:w-[240px] xl:w-[315px] 2xl:w-[440px]
     }
     /* @media only screen and (min-width: 820px) {
          .linksize {width: 200px;}
     } */
     .link {
          position: relative;
          padding: 5px 20px;          
          @apply h-[40px] md:h-[50px] lg:h-[60px] xl:h-[67px] 2xl:h-[80px] border-t-2
     }

     :root {
          --g1: rgba(80, 145, 116, 0.5);
          /* --g1.5: rgba(101, 189, 123, 0.9); */
          --g2: rgba(141, 255, 168, 0.9);
          --g3: rgba(228, 254, 62, 0.9);
      }
     .link:before {
          content: "";
          top: 0px;
          height: 100%;
          width: 0%;
          position: absolute;
     }
     .link:hover:before {
          width: 100%;
          transition: width 600ms ease;
     }
     .llink:before {
          left: 0px;
          background: linear-gradient(
               to right, transparent,
               var(--g1), var(--g2), var(--trans), var(--g3)
          );
     }
     .rlink:before {
          right: 0px;
          background: linear-gradient(
               to left, transparent, 
               var(--g1), var(--g2), var(--trans), var(--g3)
          );
     }

     /* BgSquare.tsx */
     .bgSquare {@apply abso border border-[#333333] mt-52}
}